apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

resources:
  #- postgres-operator.namespace.yaml #Comment out as the install yaml includes namespace
  - https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/release-1.27/releases/cnpg-1.27.0.yaml
  #- https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.7.0/manifest.yaml
  - https://raw.githubusercontent.com/cloudnative-pg/postgres-containers/main/Debian/ClusterImageCatalog-bookworm.yaml
  - https://github.com/strimzi/strimzi-kafka-operator/releases/download/0.49.1/strimzi-cluster-operator-0.49.1.yaml
  - kafka-main.kafkanodepool.yaml
  - kafka-main-kraft.kafka.yaml
  - kafka-main-f1-live-raw.kafkatopic.yaml
  #- signalr-mock-server.deployment.yaml
  #- signalr-mock-server.service.yaml

patches:
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: RoleBinding
      name: strimzi-cluster-operator
    path: namespace-patch.yaml
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRoleBinding
      name: strimzi-cluster-operator
    path: namespace-patch.yaml
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: RoleBinding
      name: strimzi-cluster-operator-leader-election
    path: namespace-patch.yaml
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: RoleBinding
      name: strimzi-cluster-operator-watched
    path: namespace-patch.yaml
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRoleBinding
      name: strimzi-cluster-operator-kafka-broker-delegation
    path: namespace-patch.yaml
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: RoleBinding
      name: strimzi-cluster-operator-entity-operator-delegation
    path: namespace-patch.yaml
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRoleBinding
      name: strimzi-cluster-operator-kafka-client-delegation
    path: namespace-patch.yaml

# The generator will convert the application.yaml file into a K8 config map which can be mapped
# into the container
#configMapGenerator:
#  - name: signalr-mock-server-config
#    files:
#      - application.yaml=application.yaml

#generatorOptions:
#  disableNameSuffixHash: true