name: package-web-ui-svelte

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "web-ui-svelte/**"

env:
  REGISTRY: ghcr.io
jobs:
  build-push-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:web-ui-svelte"
          push: true
          tags: ${{ env.REGISTRY }}/kjetilh33/f1-web-ui-svelte:latest
          cache-from: type=gha, scope=build-push-cache
          cache-to: type=gha, scope=build-push-cache
